{"openapi":"3.0.0","info":{"title":"nocodb","version":"2.0"},"servers":[{"url":"https://noco.stagware.org"},{"url":"{customUrl}","variables":{"customUrl":{"default":"https://noco.stagware.org","description":"Provide custom nocodb app base url"}}}],"paths":{"/api/v2/tables/manmrglhj922h46/records":{"get":{"summary":"Contacts list","operationId":"contacts-db-table-row-list","description":"List of all rows from Contacts table and response data fields can be filtered based on query params.","tags":["Contacts"],"parameters":[{"schema":{"type":"string","enum":["vwm73uy9kge43uxr"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwm73uy9kge43uxr - Contacts","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ContactsResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"Contacts create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"contacts-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Contacts"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ContactsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/ContactsRequest"}}]}}}}},"patch":{"summary":"Contacts update","operationId":"contacts-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Contacts"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ContactsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/ContactsRequest"}}]}}}}},"delete":{"summary":"Contacts delete","operationId":"contacts-delete","responses":{"200":{"description":"OK"}},"tags":["Contacts"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ContactsIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/ContactsIdRequest"}}]}}}}}},"/api/v2/tables/manmrglhj922h46/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"Contacts read","description":"Read a row data by using the **primary key** column value.","operationId":"contacts-read","tags":["Contacts"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactsResponse"}}}}}}},"/api/v2/tables/manmrglhj922h46/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwm73uy9kge43uxr"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwm73uy9kge43uxr - Contacts","name":"viewId","in":"query","required":false}],"get":{"summary":"Contacts count","operationId":"contacts-count","description":"Get rows count of a table by applying optional filters.","tags":["Contacts"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/manmrglhj922h46/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["cmajmzp82u9xas1","cfxhky1t75ijprm"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* cmajmzp82u9xas1 - people\n* cfxhky1t75ijprm - Prayer Requests"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"contacts-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["Contacts"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"contacts-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Contacts"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"contacts-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Contacts"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/mq0dvjsqfjlky4z/records":{"get":{"summary":"Weather list","operationId":"weather-db-table-row-list","description":"List of all rows from Weather table and response data fields can be filtered based on query params.","tags":["Weather"],"parameters":[{"schema":{"type":"string","enum":["vwagh3wjr92rt67m"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwagh3wjr92rt67m - Weather","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/WeatherResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"Weather create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"weather-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WeatherResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Weather"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/WeatherRequest"},{"type":"array","items":{"$ref":"#/components/schemas/WeatherRequest"}}]}}}}},"patch":{"summary":"Weather update","operationId":"weather-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Weather"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/WeatherRequest"},{"type":"array","items":{"$ref":"#/components/schemas/WeatherRequest"}}]}}}}},"delete":{"summary":"Weather delete","operationId":"weather-delete","responses":{"200":{"description":"OK"}},"tags":["Weather"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/WeatherIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/WeatherIdRequest"}}]}}}}}},"/api/v2/tables/mq0dvjsqfjlky4z/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"Weather read","description":"Read a row data by using the **primary key** column value.","operationId":"weather-read","tags":["Weather"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WeatherResponse"}}}}}}},"/api/v2/tables/mq0dvjsqfjlky4z/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwagh3wjr92rt67m"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwagh3wjr92rt67m - Weather","name":"viewId","in":"query","required":false}],"get":{"summary":"Weather count","operationId":"weather-count","description":"Get rows count of a table by applying optional filters.","tags":["Weather"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/ms88lyr9jwoba0x/records":{"get":{"summary":"inbox_log list","operationId":"inbox_log-db-table-row-list","description":"List of all rows from inbox_log table and response data fields can be filtered based on query params.","tags":["inbox_log"],"parameters":[{"schema":{"type":"string","enum":["vwyvgrey6dphniq2"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwyvgrey6dphniq2 - inbox_log","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/inbox_logResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"inbox_log create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"inbox_log-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/inbox_logResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["inbox_log"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/inbox_logRequest"},{"type":"array","items":{"$ref":"#/components/schemas/inbox_logRequest"}}]}}}}},"patch":{"summary":"inbox_log update","operationId":"inbox_log-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["inbox_log"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/inbox_logRequest"},{"type":"array","items":{"$ref":"#/components/schemas/inbox_logRequest"}}]}}}}},"delete":{"summary":"inbox_log delete","operationId":"inbox_log-delete","responses":{"200":{"description":"OK"}},"tags":["inbox_log"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/inbox_logIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/inbox_logIdRequest"}}]}}}}}},"/api/v2/tables/ms88lyr9jwoba0x/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"inbox_log read","description":"Read a row data by using the **primary key** column value.","operationId":"inbox_log-read","tags":["inbox_log"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/inbox_logResponse"}}}}}}},"/api/v2/tables/ms88lyr9jwoba0x/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwyvgrey6dphniq2"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwyvgrey6dphniq2 - inbox_log","name":"viewId","in":"query","required":false}],"get":{"summary":"inbox_log count","operationId":"inbox_log-count","description":"Get rows count of a table by applying optional filters.","tags":["inbox_log"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/m2wytgvysb30uyr/records":{"get":{"summary":"projects list","operationId":"projects-db-table-row-list","description":"List of all rows from projects table and response data fields can be filtered based on query params.","tags":["projects"],"parameters":[{"schema":{"type":"string","enum":["vwoc1rvgmhi6kb3q"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwoc1rvgmhi6kb3q - projects","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/projectsResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"projects create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"projects-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/projectsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["projects"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/projectsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/projectsRequest"}}]}}}}},"patch":{"summary":"projects update","operationId":"projects-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["projects"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/projectsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/projectsRequest"}}]}}}}},"delete":{"summary":"projects delete","operationId":"projects-delete","responses":{"200":{"description":"OK"}},"tags":["projects"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/projectsIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/projectsIdRequest"}}]}}}}}},"/api/v2/tables/m2wytgvysb30uyr/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"projects read","description":"Read a row data by using the **primary key** column value.","operationId":"projects-read","tags":["projects"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/projectsResponse"}}}}}}},"/api/v2/tables/m2wytgvysb30uyr/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwoc1rvgmhi6kb3q"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwoc1rvgmhi6kb3q - projects","name":"viewId","in":"query","required":false}],"get":{"summary":"projects count","operationId":"projects-count","description":"Get rows count of a table by applying optional filters.","tags":["projects"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/m2wytgvysb30uyr/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["cb8gt9v96nqxhbt","cdttv5vqlgkv5ou","cwt1honag4zoh4l"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* cb8gt9v96nqxhbt - Person\n* cdttv5vqlgkv5ou - tasks\n* cwt1honag4zoh4l - ideas"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"projects-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["projects"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"projects-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["projects"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"projects-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["projects"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/md3kcy81pihxnu7/records":{"get":{"summary":"ideas list","operationId":"ideas-db-table-row-list","description":"List of all rows from ideas table and response data fields can be filtered based on query params.","tags":["ideas"],"parameters":[{"schema":{"type":"string","enum":["vw1y90tca5surk1o"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw1y90tca5surk1o - ideas","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ideasResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"ideas create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"ideas-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ideasResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["ideas"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ideasRequest"},{"type":"array","items":{"$ref":"#/components/schemas/ideasRequest"}}]}}}}},"patch":{"summary":"ideas update","operationId":"ideas-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["ideas"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ideasRequest"},{"type":"array","items":{"$ref":"#/components/schemas/ideasRequest"}}]}}}}},"delete":{"summary":"ideas delete","operationId":"ideas-delete","responses":{"200":{"description":"OK"}},"tags":["ideas"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ideasIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/ideasIdRequest"}}]}}}}}},"/api/v2/tables/md3kcy81pihxnu7/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"ideas read","description":"Read a row data by using the **primary key** column value.","operationId":"ideas-read","tags":["ideas"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ideasResponse"}}}}}}},"/api/v2/tables/md3kcy81pihxnu7/records/count":{"parameters":[{"schema":{"type":"string","enum":["vw1y90tca5surk1o"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw1y90tca5surk1o - ideas","name":"viewId","in":"query","required":false}],"get":{"summary":"ideas count","operationId":"ideas-count","description":"Get rows count of a table by applying optional filters.","tags":["ideas"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/md3kcy81pihxnu7/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["c47jetovxhr3jui","caou8l7kiaz1dtf"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* c47jetovxhr3jui - projects\n* caou8l7kiaz1dtf - person"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"ideas-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["ideas"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"ideas-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["ideas"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"ideas-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["ideas"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/mppkc2d61cq62vq/records":{"get":{"summary":"admin_tasks list","operationId":"admin_tasks-db-table-row-list","description":"List of all rows from admin_tasks table and response data fields can be filtered based on query params.","tags":["admin_tasks"],"parameters":[{"schema":{"type":"string","enum":["vwyttljkv5i6xc61"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwyttljkv5i6xc61 - admin_tasks","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/admin_tasksResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"admin_tasks create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"admin_tasks-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/admin_tasksResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["admin_tasks"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/admin_tasksRequest"},{"type":"array","items":{"$ref":"#/components/schemas/admin_tasksRequest"}}]}}}}},"patch":{"summary":"admin_tasks update","operationId":"admin_tasks-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["admin_tasks"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/admin_tasksRequest"},{"type":"array","items":{"$ref":"#/components/schemas/admin_tasksRequest"}}]}}}}},"delete":{"summary":"admin_tasks delete","operationId":"admin_tasks-delete","responses":{"200":{"description":"OK"}},"tags":["admin_tasks"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/admin_tasksIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/admin_tasksIdRequest"}}]}}}}}},"/api/v2/tables/mppkc2d61cq62vq/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"admin_tasks read","description":"Read a row data by using the **primary key** column value.","operationId":"admin_tasks-read","tags":["admin_tasks"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/admin_tasksResponse"}}}}}}},"/api/v2/tables/mppkc2d61cq62vq/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwyttljkv5i6xc61"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwyttljkv5i6xc61 - admin_tasks","name":"viewId","in":"query","required":false}],"get":{"summary":"admin_tasks count","operationId":"admin_tasks-count","description":"Get rows count of a table by applying optional filters.","tags":["admin_tasks"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/mppkc2d61cq62vq/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["c2q7kz2ihri7wnr","cfx6d3a4swdz388"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* c2q7kz2ihri7wnr - Person\n* cfx6d3a4swdz388 - projects"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"admin_tasks-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["admin_tasks"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"admin_tasks-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["admin_tasks"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"admin_tasks-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["admin_tasks"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/m4d28cm5zqcfwe7/records":{"get":{"summary":"people list","operationId":"people-db-table-row-list","description":"List of all rows from people table and response data fields can be filtered based on query params.","tags":["people"],"parameters":[{"schema":{"type":"string","enum":["vw8jiovwwunvk0yf"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw8jiovwwunvk0yf - people","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/peopleResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"people create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"people-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/peopleResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["people"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/peopleRequest"},{"type":"array","items":{"$ref":"#/components/schemas/peopleRequest"}}]}}}}},"patch":{"summary":"people update","operationId":"people-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["people"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/peopleRequest"},{"type":"array","items":{"$ref":"#/components/schemas/peopleRequest"}}]}}}}},"delete":{"summary":"people delete","operationId":"people-delete","responses":{"200":{"description":"OK"}},"tags":["people"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/peopleIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/peopleIdRequest"}}]}}}}}},"/api/v2/tables/m4d28cm5zqcfwe7/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"people read","description":"Read a row data by using the **primary key** column value.","operationId":"people-read","tags":["people"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/peopleResponse"}}}}}}},"/api/v2/tables/m4d28cm5zqcfwe7/records/count":{"parameters":[{"schema":{"type":"string","enum":["vw8jiovwwunvk0yf"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw8jiovwwunvk0yf - people","name":"viewId","in":"query","required":false}],"get":{"summary":"people count","operationId":"people-count","description":"Get rows count of a table by applying optional filters.","tags":["people"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/m4d28cm5zqcfwe7/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["cmzde8qofnys8j3","cuqitgok12e7i56","c0a0oq621zz5zf0","cuefx3k5l8keheu","cp152bxvicyi5xt"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* cmzde8qofnys8j3 - admin_tasks\n* cuqitgok12e7i56 - projects\n* c0a0oq621zz5zf0 - ideas\n* cuefx3k5l8keheu - Contacts\n* cp152bxvicyi5xt - Prayer Requests"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"people-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["people"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"people-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["people"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"people-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["people"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/mzdb1tahp1w9kx5/records":{"get":{"summary":"Prayer Requests list","operationId":"prayer requests-db-table-row-list","description":"List of all rows from Prayer Requests table and response data fields can be filtered based on query params.","tags":["Prayer Requests"],"parameters":[{"schema":{"type":"string","enum":["vwz6aywj9sb0vyla"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwz6aywj9sb0vyla - Prayer Requests","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Prayer RequestsResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"Prayer Requests create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"prayer requests-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Prayer RequestsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Prayer Requests"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Prayer RequestsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/Prayer RequestsRequest"}}]}}}}},"patch":{"summary":"Prayer Requests update","operationId":"prayer requests-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Prayer Requests"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Prayer RequestsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/Prayer RequestsRequest"}}]}}}}},"delete":{"summary":"Prayer Requests delete","operationId":"prayer requests-delete","responses":{"200":{"description":"OK"}},"tags":["Prayer Requests"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/Prayer RequestsIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/Prayer RequestsIdRequest"}}]}}}}}},"/api/v2/tables/mzdb1tahp1w9kx5/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"Prayer Requests read","description":"Read a row data by using the **primary key** column value.","operationId":"prayer requests-read","tags":["Prayer Requests"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Prayer RequestsResponse"}}}}}}},"/api/v2/tables/mzdb1tahp1w9kx5/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwz6aywj9sb0vyla"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwz6aywj9sb0vyla - Prayer Requests","name":"viewId","in":"query","required":false}],"get":{"summary":"Prayer Requests count","operationId":"prayer requests-count","description":"Get rows count of a table by applying optional filters.","tags":["Prayer Requests"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/mzdb1tahp1w9kx5/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["cz82l0qou9af6dr","cljeyumrv2kejhy"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* cz82l0qou9af6dr - Person\n* cljeyumrv2kejhy - Contacts"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"prayer requests-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["Prayer Requests"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"prayer requests-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Prayer Requests"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"prayer requests-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["Prayer Requests"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/mmt986mi0nz5da5/records":{"get":{"summary":"prayer_requests_contacts list","operationId":"prayer_requests_contacts-db-table-row-list","description":"List of all rows from prayer_requests_contacts table and response data fields can be filtered based on query params.","tags":["prayer_requests_contacts"],"parameters":[{"schema":{"type":"string","enum":["vwaxpq0gt8piw730"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwaxpq0gt8piw730 - prayer_requests_contacts","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/prayer_requests_contactsResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"prayer_requests_contacts create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"prayer_requests_contacts-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/prayer_requests_contactsResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["prayer_requests_contacts"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/prayer_requests_contactsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/prayer_requests_contactsRequest"}}]}}}}},"patch":{"summary":"prayer_requests_contacts update","operationId":"prayer_requests_contacts-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["prayer_requests_contacts"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/prayer_requests_contactsRequest"},{"type":"array","items":{"$ref":"#/components/schemas/prayer_requests_contactsRequest"}}]}}}}},"delete":{"summary":"prayer_requests_contacts delete","operationId":"prayer_requests_contacts-delete","responses":{"200":{"description":"OK"}},"tags":["prayer_requests_contacts"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/prayer_requests_contactsIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/prayer_requests_contactsIdRequest"}}]}}}}}},"/api/v2/tables/mmt986mi0nz5da5/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"prayer_requests_contacts read","description":"Read a row data by using the **primary key** column value.","operationId":"prayer_requests_contacts-read","tags":["prayer_requests_contacts"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/prayer_requests_contactsResponse"}}}}}}},"/api/v2/tables/mmt986mi0nz5da5/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwaxpq0gt8piw730"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwaxpq0gt8piw730 - prayer_requests_contacts","name":"viewId","in":"query","required":false}],"get":{"summary":"prayer_requests_contacts count","operationId":"prayer_requests_contacts-count","description":"Get rows count of a table by applying optional filters.","tags":["prayer_requests_contacts"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/msmv0n2rsfj3q6u/records":{"get":{"summary":"CliE2E_Primary_2026-02-06T14-07-21-938Z list","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-db-table-row-list","description":"List of all rows from CliE2E_Primary_2026-02-06T14-07-21-938Z table and response data fields can be filtered based on query params.","tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"parameters":[{"schema":{"type":"string","enum":["vwibx9n073xt9062"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwibx9n073xt9062 - CliE2E_Primary_2026-02-06T14-07-21-938Z","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"CliE2E_Primary_2026-02-06T14-07-21-938Z create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZRequest"},{"type":"array","items":{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZRequest"}}]}}}}},"patch":{"summary":"CliE2E_Primary_2026-02-06T14-07-21-938Z update","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZRequest"},{"type":"array","items":{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZRequest"}}]}}}}},"delete":{"summary":"CliE2E_Primary_2026-02-06T14-07-21-938Z delete","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-delete","responses":{"200":{"description":"OK"}},"tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"description":"Delete a row by using the **primary key** column value.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZIdRequest"},{"type":"array","items":{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZIdRequest"}}]}}}}}},"/api/v2/tables/msmv0n2rsfj3q6u/records/{recordId}":{"get":{"parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."}],"summary":"CliE2E_Primary_2026-02-06T14-07-21-938Z read","description":"Read a row data by using the **primary key** column value.","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-read","tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CliE2E_Primary_2026-02-06T14-07-21-938ZResponse"}}}}}}},"/api/v2/tables/msmv0n2rsfj3q6u/records/count":{"parameters":[{"schema":{"type":"string","enum":["vwibx9n073xt9062"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vwibx9n073xt9062 - CliE2E_Primary_2026-02-06T14-07-21-938Z","name":"viewId","in":"query","required":false}],"get":{"summary":"CliE2E_Primary_2026-02-06T14-07-21-938Z count","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-count","description":"Get rows count of a table by applying optional filters.","tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number"}},"required":["list","pageInfo"]},"examples":{"Example 1":{"value":{"count":3}}}}}},"400":{"$ref":"#/components/responses/BadRequest"}}}},"/api/v2/tables/msmv0n2rsfj3q6u/links/{linkFieldId}/records/{recordId}":{"parameters":[{"schema":{"type":"string","enum":["cyg3vqlnmxqggbx"]},"name":"linkFieldId","in":"path","required":true,"description":"**Links Field Identifier** corresponding to the relation field `Links` established between tables.\n\nLink Columns:\n* cyg3vqlnmxqggbx - LinkToSecondary"},{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}],"get":{"summary":"Link Records list","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-nested-list","description":"This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.","tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"parameters":[{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","description":"List of data objects","items":{"type":"object"}},"pageInfo":{"$ref":"#/components/schemas/Paginated","description":"Paginated Info"}},"required":["list","pageInfo"]}}}},"400":{"$ref":"#/components/responses/BadRequest"}}},"post":{"summary":"Link Records","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-nested-link","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"object"},{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":4},{"Id":5}]},"Example 2":{"value":{"Id":4}}}}}},"description":"This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]},"delete":{"summary":"Unlink Records","operationId":"clie2e_primary_2026-02-06t14-07-21-938z-nested-unlink","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{},"examples":{"Example 1":{"value":true}}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["CliE2E_Primary_2026-02-06T14-07-21-938Z"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"type":"object"}}]},"examples":{"Example 1":{"value":[{"Id":1},{"Id":2}]}}}}},"description":"This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.","parameters":[{"schema":{"type":"string"},"name":"recordId","in":"path","required":true,"example":1,"description":"Primary key of the record you want to read. If the table have composite primary key then combine them by using `___` and pass it as primary key."}]}},"/api/v2/tables/mj66ka2hpry3vyu/records":{"get":{"summary":"CliE2E_Secondary_2026-02-06T14-07-21-938Z list","operationId":"clie2e_secondary_2026-02-06t14-07-21-938z-db-table-row-list","description":"List of all rows from CliE2E_Secondary_2026-02-06T14-07-21-938Z table and response data fields can be filtered based on query params.","tags":["CliE2E_Secondary_2026-02-06T14-07-21-938Z"],"parameters":[{"schema":{"type":"string","enum":["vw66a1kjoaawlejc"]},"description":"Allows you to fetch records that are currently visible within a specific view.\n\nViews:\n* vw66a1kjoaawlejc - CliE2E_Secondary_2026-02-06T14-07-21-938Z","name":"viewId","in":"query","required":false},{"schema":{"type":"string"},"in":"query","name":"fields","description":"Array of field names or comma separated filed names to include in the response objects. In array syntax pass it like `fields[]=field1&fields[]=field2` or alternately `fields=field1,field2`."},{"schema":{"type":"string"},"in":"query","name":"sort","description":"Comma separated field names to sort rows, rows will sort in ascending order based on provided columns. To sort in descending order provide `-` prefix along with column name, like `-field`. Example : `sort=field1,-field2`"},{"schema":{"type":"string"},"in":"query","name":"where","description":"This can be used for filtering rows, which accepts complicated where conditions. For more info visit [here](https://docs.nocodb.com/developer-resources/rest-apis#comparison-operators). Example : `where=(field1,eq,value)`"},{"schema":{"type":"number","minimum":1},"in":"query","name":"limit","description":"The `limit` parameter used for pagination, the response collection size depends on limit value with default value `25` and maximum value `1000`, which can be overridden by environment variables `DB_QUERY_LIMIT_DEFAULT` and `DB_QUERY_LIMIT_MAX` respectively.","example":25},{"schema":{"type":"number","minimum":0,"maximum":1},"in":"query","name":"shuffle","description":"The `shuffle` parameter used for pagination, the response will be shuffled if it is set to 1.","example":0},{"schema":{"type":"number","minimum":0},"in":"query","name":"offset","description":"The `offset` parameter used for pagination, the value helps to select collection from a certain index.","example":0},{"schema":{"type":"string"},"in":"query","name":"nested[CliE2E_Primary_2026-02-06T14-07-21-938Z][fields]","description":"Array of field names or comma separated filed names to include in the in nested column `CliE2E_Primary_2026-02-06T14-07-21-938Z` result. In array syntax pass it like `fields[]=field1&fields[]=field2.`. Example : `nested[CliE2E_Primary_2026-02-06T14-07-21-938Z][fields]=field1,field2`"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/CliE2E_Secondary_2026-02-06T14-07-21-938ZResponse"}},"pageInfo":{"$ref":"#/components/schemas/Paginated"}}}}}}}},"post":{"summary":"CliE2E_Secondary_2026-02-06T14-07-21-938Z create","description":"Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.","operationId":"clie2e_secondary_2026-02-06t14-07-21-938z-create","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CliE2E_Secondary_2026-02-06T14-07-21-938ZResponse"}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["CliE2E_Secondary_2026-02-06T14-07-21-938Z"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CliE2E_Secondary_2026-02-06T14-07-21-938ZRequest"},{"type":"array","items":{"$ref":"#/components/schemas/CliE2E_Secondary_2026-02-06T14-07-21-938ZRequest"}}]}}}}},"patch":{"summary":"CliE2E_Secondary_2026-02-06T14-07-21-938Z update","operationId":"clie2e_secondary_2026-02-06t14-07-21-938z-update","description":"Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}},"400":{"$ref":"#/components/responses/BadRequest"}},"tags":["CliE2E_Secondary_2026-02-06T14-07-21-938Z"],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/compo
[...]
